<h1>Listing items</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Completed</th>
    <th>Completed at</th>
    <th>List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.description %></td>
    <td><%= item.completed %></td>
    <td><%= item.completed_at %></td>
    <td><%= item.list %></td>
    <td><%= link_to 'Show', [item.list, item] %></td>
    <td><%= link_to 'Edit', edit_list_item_path(item.list, item) %></td>
    <td><%= link_to 'Destroy', [item.list, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_list_item_path(params[:list_id]) %>
