<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Completed:</b>
  <%= @item.completed %>
</p>

<p>
  <b>Completed at:</b>
  <%= @item.completed_at %>
</p>

<p>
  <b>List:</b>
  <%= @item.list %>
</p>


<%= link_to 'Edit', edit_list_item_path(@item.list, @item) %> |
<%= link_to 'Back', list_items_path(@item.list) %>
